<% layout('./layout') %>
<h1>Routes Builder demo project: Landing Page!</h1>
<h2>Welcome!</h2>
<p>Check out the <a href="/routes-table">routes table</a></p>
<p>Check out the <a href="/">home page</a></p>
